name: Docker_sample

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  Checkout:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0
      
      
